.navbar {
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* ===== First page ===== */
.header {
    text-align: center;
    color: white;
    padding: 60px;
}

#signup-btn {
    background-color:blueviolet;
    border-color:blueviolet;
}

#signup-btn:hover {
    background-color: rgb(83, 0, 161);
}

.fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
}

@keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-moz-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-webkit-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-o-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-ms-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}