<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Cook like your mum</title>
</head>
<body style="background: rgb(224, 171, 91)">
    <div class="header" style="text-align:center; padding:60px;">
        <p style="color:rgb(0, 0, 0);">Learn how to cook like mums!</p>
    </div>

    <div style="padding: 40px;">
        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist" >
            <a class="nav-item nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" style="font-size:25px" role="tab" aria-controls="pills-home" aria-selected="true">🐷</a>
            <a class="nav-item nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" style="font-size:25px" role="tab" aria-controls="pills-profile" aria-selected="false">🐮</a>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="d-flex tab-pane fade show active flex-wrap" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <% recipes.forEach(recipe => { %>
                    <div class="card mb-3" style="width: 540px; margin-right: 16px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title"><%=recipe.title%></h5>
                            <p class="card-text"><%=recipe.description%></p>
                            <p class="card-text"><small class="text-muted"><%=recipe.cookTime%> min cook time</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..dsfsfdsds.</div>
        </div>
    </div>
</body>
</html>